.template
{
	display:flex;
	border:2px solid black;
	flex-direction:row;
	margin:250px;
	justify-content:center;
	margin-top:50px;
}
.template .split1
{
	display:flex;
	flex-direction:column;
	background-color:black;
	width:435px;
	height:330px;;
}
.template .split1 .split11
{
	display:flex;
	flex-direction:column;
}
.template .split1 .split11 .dark
{
	height:40px;
	width:180px;
	background-color:white;
	margin:0px auto;
	margin-top:100px;
	margin-bottom:10px;
}
.template .split1 .split11 .text
{
	height:20px;
	width:150px;
	background-color:white;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .split1 .split12
{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.template .split1 .split12 .tb
{
	height:40px;
	width:120px;
	background-color:white;
	margin:5px;
}
.template .split1 .split12 .button
{
	height:40px;
	width:50px;
	background-color:green;
	margin:5px;
}
.template .split2
{
	display:flex;
	flex-direction:column;
	background-color:green;
}
.template .split2 .button1
{
	height:50px;
	width:50px;
	background-color:white;
	margin:30px;
	margin-left:350px;
	border-radius:50px;
	text-align:center;
}
.template .split2 .button
{
	height:50px;
	width:50px;
	background-color:white;
	margin:30px;
	margin-left:350px;
	border-radius:50px;
	text-align:center;
}

